import(coda)
import(stats)

export(dream)
export(CovInit)
export(LHSInit)
export(maxLikPars)
export(possibility.envelope)
S3method(summary,dream)
S3method(coef,dream)
S3method(plot,dream)
S3method(print,dream)
S3method(predict,dream)
S3method(simulate,dream)
