import(coda)
import(stats)

export(dream)
export(CovInit)
export(LHSInit)

S3method(summary,dream)
S3method(plot,dream)
S3method(window,dream)
S3method(coef,dream)
S3method(print,dream)
S3method(simulate,dream)

export(maxLikPars)
export(maxLikCoda)

export(dreamCalibrate)
export(calc.rmse)
export(calc.weighted.rmse)
export(calc.loglik)
S3method(predict,dream_model)
